<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
                    {# {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_index') }}">Administration</a>
                        </li>
                    {% endif %} #}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Войти</a>
                    </li>
				{% endif %}
			</ul>        
        </div>
    </div>
</nav>