{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}О хужожнике{% endtrans %}
{% endblock %}

{% block artistActive %}id="page-active"{% endblock %}

{% block body %}
	<div id="about_artist" class="uk-container uk-container-large">
		<h1 class="uk-text-center">
			{% trans %}О художнике{% endtrans %}
		</h1>
		<div class="uk-panel">
			<img id="artist_image" class="image-bord  uk-align-left uk-margin-remove-adjacent" src="{{ asset('assets/img/about_artist.jpg') }}"  alt="Художница">
			<p class="artist-name">{% trans %}Ирина Владимировна Козлова-Кузнецова{% endtrans %}</p>
			<p>{% trans %}Родилась в 1974 г. в России, городе Северодвинске Архангельской области. Переехала в Воронеж в 2003 году.{% endtrans %}</p>
			<p>{% trans %}В 1992 году закончила педагогический колледж в Северодвинске по специальности учитель рисования и учитель начальных классов.{% endtrans %}</p>
			<p>{% trans %}В 2012 году закончила Воронежское художественное училище по специальности «Живопись, художник-живописец», педагог — Лавров Александр Николаевич. Далее обучалась 
частным образом в мастерских заслуженных художников.{% endtrans %}</p>
			<p>{% trans %}Работы Ирины находятся в частных коллекциях и за рубежом. Картины часто пишутся в мастерской, но чаще работает на пленэре.
Преподает рисунок, живопись и композицию.{% endtrans %}</p>
		</div>

		<div class="uk-margin-bottom">
			<p class="uk-text-center">{% trans %}Участие в выставках, фестивалях, конкурсах:{% endtrans %}</p>
			<div>
				{% if (app.request.locale == 'en') and (artistText.textEn is not empty) %}
					{{artistText.textEn}}
				{% else %}
					{{artistText.text|raw }}
				{% endif %}
			</div>			
		</div>
		<div>
			<p>{% trans %}Творчество художницы посвящено России – неповторимому очарованию старых российских городов, деревень. притягательной красоте мира 
русской природы. Здесь и пейзажи, и натюрморты, и всеми любимые цветы.{% endtrans %}</p>
			<p>{% trans %}Картины Ирины раскрывают зрителю красоту окружающего мира, видно, как она изучает натуру, ищет художественную выразительность, 
стремится к развитию, которое отличает ее творчество.{% endtrans %}</p>
			<p>{% trans %}Художница работает преимущественно в жанре пейзажа, натюрморта и портрета, опираясь на реалистические и импрессионистические традиции в искусстве{% endtrans %}</p>
			<p>{% trans %}Героями картин часто становятся простые люди, родственники с разными судьбами, характерами и увлечениями. В портретах художницы 
правдиво передают не только особенности внешнего облика, но и улавливают индивидуальное своеобразие личности человека.{% endtrans %}</p>
			<p>{% trans %}Привлекают внимание тематические натюрморты, передающие плодородие и богатство природы, свежестью и простотой отличаются красочные натюрморты с цветами, вазами, кувшинами, разнообразные по характеристике, манере письма и согревающие своим цветом пионы, 
розы, сирень, маки и нежная полевые цветы, и причудливо изогнувшиеся цветы жасмина...{% endtrans %}</p>

		</div>
	</div>


{% endblock %}
