<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Сайт Ирины Козловой-Кузнецовой{% endblock %}
    </title>
    <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">

    {# for mobile version #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />

    <!--font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}"> 
    {% block stylesheets %}{% endblock %}
</head>
<body>  
    <header>   
        {% include "partials/preheader.html.twig" %}
        {% include "partials/menu.html.twig" %}
    </header>					
    {% block body %}
    {% endblock %}
					
    {% block footer %}
        {% include "partials/footer.html.twig" %}     
    {% endblock %}
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>

